<section class="section">
    <div class="container">
        <p class="title is-3 is-inline">
            {{details.tournament.title}}
            <div class="is-pulled-right">
                <button class="button" title="Edit this tournament" data-ng-click="details.openTourMdl();">
                    <span class="icon">
                        <i class="fas fa-pencil-alt"></i>
                    </span>
                </button>
                <button class="button" title="Delete this tournament" data-ng-click="details.delTourMdl = true;">
                    <span class="icon has-text-danger">
                        <i class="fas fa-trash"></i>
                    </span>
                </button>
            </div>
        </p>

        <div class="tabs is-centered">
            <ul>
                <li data-ng-class="{ 'is-active': isActiveHash('info') }">
                    <a href="/tournaments/{{details.id}}#info">Info</a>
                </li>
                <li data-ng-class="{ 'is-active': isActiveHash('participants') }">
                    <a href="/tournaments/{{details.id}}#participants">Participants</a>
                </li>
                <li data-ng-class="{ 'is-active': isActiveHash('bracket') }">
                    <a href="/tournaments/{{details.id}}#bracket">Bracket</a>
                </li>
            </ul>
        </div>

        <div data-ng-show="isActiveHash('info')">
            <div class="columns">
                <div class="column is-6">
                    <div class="box">
                        <p class="title is-5">Organizer</p>
                        <p data-ng-hide="_.isEmpty(details.tournament.organizer)">
                            {{details.tournament.organizer}}
                        </p>
                        <p data-ng-show="_.isEmpty(details.tournament.organizer)">
                            <em>No organizer given.</em>
                        </p>
                    </div>

                    <div class="box">
                        <p class="title is-5">Description</p>
                        <p data-ng-hide="_.isEmpty(details.tournament.description)">
                            {{details.tournament.description}}
                        </p>
                        <p data-ng-show="_.isEmpty(details.tournament.description)">
                            <em>No description given.</em>
                        </p>
                    </div>
                </div>

                <div class="column is-6">
                    <div class="box">
                        <p class="title is-5">Date, Time, Location</p>
                        <p data-ng-hide="_.isNil(details.tournament.date.from) && _.isNil(details.tournament.date.to)">
                            <span data-ng-hide="_.isNil(details.tournament.date.from)">{{details.tournament.date.from | date: "EEEE, dd.MM.yyyy"}}</span>
                            <span data-ng-hide="_.isNil(details.tournament.date.from) || _.isNil(details.tournament.date.to)">-</span>
                            <span data-ng-hide="_.isNil(details.tournament.date.to)">{{details.tournament.date.to | date: "EEEE, dd.MM.yyyy"}}</span>
                        </p>
                        <p data-ng-show="_.isNil(details.tournament.date.from) && _.isNil(details.tournament.date.to)">
                            <em>No date given.</em>
                        </p>

                        <hr>

                        <p data-ng-hide="_.isNil(details.tournament.time.from) && _.isNil(details.tournament.time.to)">
                            <span data-ng-hide="_.isNil(details.tournament.time.from)">{{details.tournament.time.from | date: "HH:mm"}}</span>
                            <span data-ng-hide="_.isNil(details.tournament.time.from) || _.isNil(details.tournament.time.to)">-</span>
                            <span data-ng-hide="_.isNil(details.tournament.time.to)">{{details.tournament.time.to | date: "HH:mm"}}</span>
                        </p>
                        <p data-ng-show="_.isNil(details.tournament.time.from) && _.isNil(details.tournament.time.to)">
                            <em>No time given.</em>
                        </p>

                        <hr>

                        <p data-ng-hide="_.isEmpty(details.tournament.location)">
                            {{details.tournament.location}}
                        </p>
                        <p data-ng-show="_.isEmpty(details.tournament.location)">
                            <em>No location given.</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div data-ng-show="isActiveHash('participants')">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Alias</th>
                        <th>
                            <button class="button is-small is-rounded is-dark" data-ng-disabled="details.addingPart">
                                <span class="icon is-small">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>Add attribute</span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="tourPart in details.participants | orderBy: 'name'">
                        <td>{{tourPart.name}}</td>
                        <td>{{tourPart.alias}}
                            <div class="is-inline" data-ng-show="tourPart.alias">
                                <span class="icon has-text-success" title="Alias will be shown" data-ng-show="tourPart.tourSettings.useAlias">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="icon has-text-danger" title="Alias will not be shown" data-ng-hide="tourPart.tourSettings.useAlias">
                                    <i class="fas fa-ban"></i>
                                </span>
                            </div>
                        </td>
                        <td>
                            <button class="button is-pulled-right" data-ng-click="details.participantId = tourPart._id; details.delPartMdl = true;">
                                <span class="icon has-text-danger">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </button>
                        </td>
                    </tr>
                    <tr data-ng-show="details.addingPart">
                        <td>
                            <div class="control">
                                <div class="select">
                                    <select data-ng-model="details.input.part" data-ng-options="part.name for part in details.allParticipants | isAlreadyUsed: details.participants "></select>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="control" data-ng-hide="_.isEmpty(details.input.part.alias)">
                                <label class="checkbox">
                                    <input type="checkbox" data-ng-model="details.input.useAlias"> Show
                                    <i>{{details.input.part.alias}}</i> instead of
                                    <i>{{details.input.part.name}}</i>
                                </label>
                            </div>
                            <label data-ng-show="_.isEmpty(details.input.part.alias)">
                                <em>No alias given.</em>
                            </label>
                        </td>
                        <td>
                            <button class="button is-success" data-ng-click="details.addParticipant();" data-ng-disabled="_.isNil(details.input.part)">Save</button>
                            <button class="button is-danger" data-ng-click="details.addingPart = false;">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="level" data-ng-show="details.isLoading">
                <span class="icon is-large level-item">
                    <i class="fas fa-2x fa-spinner fa-pulse"></i>
                </span>
            </div>
            <button class="button is-primary is-fullwidth" data-ng-click="details.addingPart = true;" data-ng-disabled="details.addingPart">
                <span class="icon is-small">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Add a participant to this tournament</span>
            </button>
        </div>

        <div data-ng-show="isActiveHash('bracket')">
            <data-bracket id="bracket"></data-bracket>
        </div>

        <div class="modal" data-ng-class="{ 'is-active': details.delTourMdl }">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <span class="icon has-text-danger is-pulled-right">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <div class="content">
                        <p>
                            Do you really want to <strong>delete</strong> this tournament?
                        </p>
                        <p>
                            This <strong>cannot</strong> be undone.
                        </p>
                    </div>
                    <button class="button is-danger" data-ng-click="details.deleteTournament();">Delete this tournament</button>
                    <button class="button" data-ng-click="details.delTourMdl = false;">Cancel</button>
                </div>
            </div>
        </div>

        <div class="modal" data-ng-class="{ 'is-active': details.delPartMdl }">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <span class="icon has-text-danger is-pulled-right">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <div class="content">
                        <p>
                            Do you really want to <strong>delete</strong> this participant from this tournament?
                        </p>
                        <p>
                            The participant <strong>will not</strong> be deleted.
                        </p>
                        <p>
                            This <strong>cannot</strong> be undone.
                        </p>
                    </div>
                    <button class="button is-danger" data-ng-click="details.deleteParticipant();">Delete this participant from this tournament</button>
                    <button class="button" data-ng-click="details.delPartMdl = false;">Cancel</button>
                </div>
            </div>
        </div>

        <tour-mdl data-ctrl="details" data-opts="details.tourMdlOpts" data-input="details.tournament" data-ng-show="details.tourMdlVisible"></tour-mdl>
    </div>
</section>