<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{opts.title}}</p>
            <button class="delete" aria-label="close" data-ng-click="ctrl.cancelTourMdl();"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Title</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="required" data-ng-model="input.title" data-ng-class="{ 'is-danger': _.isEmpty(input.title), 'is-success': !_.isEmpty(input.title) }">
                    <span class="icon is-small is-left">
                        <i class="fas fa-edit"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Organizer</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="optional" data-ng-model="input.organizer">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user-tie"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" placeholder="optional" rows="3" data-ng-model="input.description"></textarea>
                </div>
            </div>

            <div class="field">
                <div class="field-body">
                    <div class="field">
                        <label class="label">From</label>
                        <div class="control has-icons-left">
                            <input class="input" type="date" data-ng-model="input.date.from">
                            <span class="icon is-small is-left">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">To</label>
                        <div class="control has-icons-left">
                            <input class="input" type="date" data-ng-model="input.date.to">
                            <span class="icon is-small is-left">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="field-body">
                    <div class="field">
                        <label class="label">From</label>
                        <div class="control has-icons-left">
                            <input class="input" type="time" data-ng-model="input.time.from">
                            <span class="icon is-small is-left">
                                <i class="fas fa-clock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">To</label>
                        <div class="control has-icons-left">
                            <input class="input" type="time" data-ng-model="input.time.to">
                            <span class="icon is-small is-left">
                                <i class="fas fa-clock"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Location</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="optional" data-ng-model="input.location">
                    <span class="icon is-small is-left">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" data-ng-click="ctrl.tourMdlSubmit(input);" data-ng-disabled="_.isEmpty(input.title)">{{opts.submit}}</button>
            <button class="button" data-ng-click="ctrl.cancelTourMdl();">Cancel</button>
        </footer>
    </div>
</div>