<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <div class="box">
                    <p class="title is-5">All participants</p>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Alias</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="participant in pp.all | orderBy: 'name'">
                                <td>
                                    <span data-ng-hide="pp.editPart === participant._id">{{participant.name}}</span>
                                    <div class="control" data-ng-show="pp.editPart === participant._id">
                                        <input class="input" type="text" placeholder="required" data-ng-value="participant.name" data-ng-model="edit.name" data-ng-class="{ 'is-danger': _.isEmpty(edit.name), 'is-success': !_.isEmpty(edit.name) }">
                                    </div>
                                </td>
                                <td>
                                    <span data-ng-hide="pp.editPart === participant._id">{{participant.alias}}</span>
                                    <div class="control" data-ng-show="pp.editPart === participant._id">
                                        <input class="input" type="text" placeholder="optional" data-ng-value="participant.alias" data-ng-model="edit.alias">
                                    </div>
                                </td>
                                <td>
                                    <div class="is-pulled-right">
                                        <button class="button" title="Edit this participant" data-ng-click="pp.editPart = participant._id;" data-ng-hide="pp.editPart === participant._id">
                                            <span class="icon">
                                                <i class="fas fa-pencil-alt"></i>
                                            </span>
                                        </button>
                                        <button class="button is-success" data-ng-click="pp.edit(participant._id, edit);" data-ng-show="pp.editPart === participant._id"
                                            data-ng-disabled="_.isEmpty(edit.name)"> Save
                                        </button>
                                        <button class="button" title="Delete this participant" data-ng-click="pp.confirm(participant._id);" data-ng-hide="pp.editPart === participant._id">
                                            <span class="icon has-text-danger">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column is-4">
                <div class="box">
                    <p class="title is-5">Add new participant</p>
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="required" data-ng-model="input.name" data-ng-class="{ 'is-danger': _.isEmpty(input.name), 'is-success': !_.isEmpty(input.name) }">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" data-ng-model="select.alias"> Alias
                            </label>
                        </div>
                    </div>

                    <div class="field" data-ng-show="select.alias">
                        <label class="label">Alias</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="optional" data-ng-model="input.alias">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user-plus"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" data-ng-click="pp.add(input);" data-ng-disabled="_.isEmpty(input.name)">
                                <span class="icon is-small">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" data-ng-class="{ 'is-active': pp.activeModal }">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <span class="icon has-text-danger is-pulled-right">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <div class="content">
                        <p>
                            Do you really want to <strong>delete</strong> this participant?
                        </p>
                        <p>
                            It will be removed from all tournaments.
                        </p>
                        <p>
                            This <strong>cannot</strong> be undone.
                        </p>
                    </div>
                    <button class="button is-danger" data-ng-click="pp.remove();">Delete this participant</button>
                    <button class="button" data-ng-click="pp.activeModal = false;">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>